/* ヘッダー部分 */
.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 30px;
  min-width: 550px;
}
.header__logo img {
  width: auto;
  height: 20px;
  display: block;
  padding-top: 5px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  color: #606060;
  align-items: center;
}
.header__nav-item {
  display: inline-block;
  padding-left: 15px;
  height: 20px;
  font-size: 95%;
}
/*　最初の部分　*/
.firstview {
  width: auto;
  position: relative;
}
.firstview__img {
  width: auto;
}

.firstview__img img {
  width: 60%;
  display: block;
  margin-left: auto;
}
.firstview__title {
  font-family: "Indie Flower", cursive;
  position: absolute;
  top: 18%;
  left: 20.5%;
  padding: 0;
  margin: 0;
  font-size: 4.5vw;
  color: #bc2074;
}
.firstview__title__growth {
  color: #06a1b3;
}
.firstview__title__for {
  margin-top: 6%;
}
.firstview__sabtitle {
  position: absolute;
  top: 63%;
  left: 20.5%;
  padding: 0;
  margin: 0;
  font-size: 1.45vw;
  color: #bc2074;
}
.firstview__sabtitle__seityou {
  color: #06a1b3;
}
.firstview__text {
  position: absolute;
  top: 68%;
  left: 20.5%;
  padding: 0;
  margin: 0;
  font-size: 1.1vw;
  color: #606060;
}
/*　ニュース　*/
.news {
  padding: 100px 0 50px 0;
  display: flex;
  width: 50%;
  flex-flow: column;
  margin-left: 25%;
}
.news__title {
  margin: 0px 0px 10px 0px;
  font-family: "Indie Flower", cursive;
  color: #bc2074;
}
.news__subtitle {
  color: #606060;
  font-size: 24px;
}
.news__line {
  border: none;
  border-bottom: 2px solid;
  color: #606060;
  margin: 20px 0px;
}
/*　ニュースのテーブル部分　*/
.news__table {
  width: 100%;
  text-align: left;
  font-size: 1vh;
}
.news__table__paragraph {
  border-bottom: 1px solid;
  color: #606060;
}
.news__table th {
  font-weight: normal;
  padding: 20px 0px 20px 0px;
  border-top: 20px;
  text-align: left;
}
.news__table__item {
  background-color: #bc2074;
  color: white;
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
}
/*　概要　*/
.about {
  background-color: #f5f5f5;
  display: flex;
  height: 330px;
  flex-flow: column;
  position: relative;
}
.about__title {
  margin: 20px 0px 20px 0px;
  font-family: "Indie Flower", cursive;
  color: #bc2074;
  text-align: center;
  flex-wrap: wrap;
}
.about__subtitle {
  margin: 0px 0px 30px 0px;
  color: #606060;
  font-size: 24px;
  text-align: center;
  flex-wrap: wrap;
}
.about__img img {
  width: 23%;
  display: block;
  top: 30%;
  right: 20%;
  position: absolute;
}
.about__text-tech {
  position: absolute;
  top: 30%;
  left: 20%;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #606060;
  line-height: 25px;
}

.about__text-school {
  position: absolute;
  top: 56%;
  left: 20%;
  padding: 0;
  margin: 0;
  display: block;
  font-size: 12px;
  color: #606060;
  line-height: 25px;
}
/*　サービス　*/
.service {
  display: flex;
  margin-top: 50px;
  flex-flow: column;
}
.service__title {
  margin: 20px 0px 10px 0px;
  font-family: "Indie Flower", cursive;
  color: #bc2074;
  padding-left: 20%;
}
.service__subtitle {
  margin: 0px 0px 20px 0px;
  color: #606060;
  font-size: 24px;
  padding-left: 20%;
}
/*　サービスグリッド　*/
.service__grid {
  display: grid;
  grid-template-rows: 160px 160px;
  grid-template-columns: auto auto;
  padding: 10px 20% 30px 20%;
  color: #ffffff;
}
.box1 {
  display: flex;
  grid-column: 1/1;
  grid-row: 1/3;
  background: #b31667;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 0px 30px 0px 30px;
}
.box2 {
  display: flex;
  grid-column: 2/3;
  grid-row: 1/2;
  background: #b35b8b;
  padding: 20px;
}
.box3 {
  display: flex;
  grid-column: 2/3;
  grid-row: 2/3;
  background: #b2889e;
  padding: 20px;
}
.service__img img {
  width: 100px;
}
.box__title {
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
}
.box__text {
  font-size: 13px;
  font-weight: 10;
  padding: 10px;
  line-height: 23px;
}
/*　blog　*/
.blog {
  background-color: #f5f5f5;
  display: flex;
  flex-flow: column;
}
.blog__title {
  margin: 20px 0px 10px 0px;
  font-family: "Indie Flower", cursive;
  color: #bc2074;
  padding-left: 20%;
}
.blog__subtitle {
  margin: 0px 0px 00px 0px;
  color: #606060;
  font-size: 24px;
  padding-left: 20%;
}
/*　card　*/
.flex__item {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 0 20% 20px 20%;
}

.practice__card {
  border-radius: 10px;
  width: 30%;
  background-color: white;
}

.card__img img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.card__content {
  padding: 0 20px 15px 20px;
}

.card__ttl {
  font-size: 12px;
  margin: 10px 0 20px 0;
  font-weight: 1000;
  color: #606060;
  line-height: 20px;
}

.card__cat {
  padding: 8px 15px;
  background: #bc2074;
  margin-bottom: 0px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  border-radius: 10px 0 0 0;
  position: relative;
  top: 28px;
}
.card__cat__back {
  background-color: #f5f5f5;
}

.tag {
  font-size: 12px;
  text-align: left;
  color: #606060;
  display: flex;
  justify-content: space-between;
}

/*　ブログボタン　*/
.blog__button {
  background-color: #f5f5f5;
  padding: 10px 0px 30px 0;
}
.blog__button__text {
  display: flex;
  background-color: #ffffff;
  color: #b31667;
  border-radius: 25px;
  padding: 15px 0px 15px 0px;
  border: solid 2px;
  border-color: #b31667;
  font-weight: bold;
  width: 13%;
  text-align: center;
  justify-content: center;
  margin-left: 43.5%;
}
/*　会社概要　*/
.company {
  display: flex;
  flex-flow: column;
}
.company__title {
  margin: 20px 0px 10px 0px;
  font-family: "Indie Flower", cursive;
  color: #bc2074;
  padding-left: 25%;
}
.company__subtitle {
  margin: 0px 0px 30px 0px;
  color: #606060;
  font-size: 24px;
  padding-left: 25%;
}
.co__table {
  width: 50%;
  padding-left: 25%;
  border-collapse: collapse;
  color: #606060;
}
.co__table__th,
.co__table__td {
  border: 1px solid #ccc;
}
.co__table__th {
  font-weight: bold;
  background-color: #f5f5f5;
  padding: 15px 100px 15px 20px;
}
.co__table__td {
  padding: 15px 280px 15px 20px;
}
/*　採用情報　*/
.top__img {
  width: 100%;
  padding-top: 50px;
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: 1000;
  display: flex;
  text-align: center;
}
.top__recruit {
  width: 50%;
  flex-flow: column;
}
.top__interview {
  width: 50%;
  flex-flow: column;
}
.interview__img img {
  width: 100%;
}
.recruit__img img {
  width: 100%;
}
.recruit__text {
  position: relative;
  top: 50%;
}
.interview__text {
  position: relative;
  top: 50%;
}
.co-text {
  text-align: center;
  color: #606060;
  font-size: 3px;
  padding: 50px 0 20px 0;
}
.footer__item {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: column;
  padding: 10px;
}
.co__line {
  color: #bc2074;
  text-align: center;
  font-size: 40px;
  padding: 10px;
}
.co__button {
  background: linear-gradient(to right, #f82493, #b3125e);
  color: white;
  border-radius: 30px;
  padding: 20px 0px 20px 0px;
  font-weight: normal;
  width: 13%;
  display: flex;
  text-align: center;
  justify-content: center;
  box-shadow: 0 10px 0 0 rgba(132, 0, 80, 1);
  margin-left: 43.5%;
  margin-bottom: 10px;
}
.co__button__mail img {
  width: 1.5%;
  position: relative;
  bottom: 61px;
  left: 45%;
}
/*　hooter　*/
.footer__text {
  display: flex;
  padding: 10px;
  background-color: #f5f5f5;
  justify-content: center;
  color: #606060;
  font-size: 12px;
}
